[Desktop Entry]
Name=Antigravity
StartupWMClass=antigravity
Comment=Antigravity
#GenericName=Internet Messenger
#Exec=/usr/share/discord/Discord
Exec=/usr/bin/env VSCODE=1 /home/alejandro/Antigravity/antigravity
Icon=/home/alejandro/Antigravity/resources/app/resources/linux/code.png
#Icon=discord
Type=Application
Categories=Network;InstantMessaging;
Path=/usr/bin
