[Desktop Entry]
Categories=Development;TextEditor;
Comment=
Exec=/usr/local/bin/noi
Icon=/home/alejandro/.config/awesome/icons/noi.png
Name=Noi
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=Noi
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
