#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Secure Browser for Linux
Exec=/bin/sh -c '$HOME/.config/com.psiexams.psi-bridge-secure-browser/PSIBridgeSecureBrowser.AppImage %U'
Terminal=false
Type=Application
Icon=psi-bridge-secure-browser
StartupWMClass=psisb
X-AppImage-Version=8.1.0
Comment=PSI Bridge Secure Browser
MimeType=x-scheme-handler/psiexam;x-scheme-handler/psi;x-scheme-handler/psibr;
Categories=Education;
