@define-color base00 #181818;
@define-color base01 #2b2e37;
@define-color base02 #3b3e47;
@define-color base03 #585858;
@define-color base04 #b8b8b8;
@define-color base05 #d8d8d8;
@define-color base06 #e8e8e8;
@define-color base07 #f8f8f8;
@define-color base08 #ab4642;
@define-color base09 #dc9656;
@define-color base0A #f7ca88;
@define-color base0B #a1b56c;
@define-color base0C #86c1b9;
@define-color base0D #7cafc2;
@define-color base0E #ba8baf;
@define-color base0F #a16946;

* {
  /*transition: none;
  box-shadow: none;*/
}

#waybar {
	font-family: 'Symbols Nerd Font';
  font-size: 25px;
  color: @base07;
  background: transparent;
  transition-property: background-color;
  transition-duration: .5s;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#window {
  /*font-size: 0.9em;
	font-weight: 400;
	font-family: sans-serif;*/
  /*justify-content: flex-start;
  text-align: left;*/
}

#window > * {
  margin-right: 0px;
}

#workspaces {
  margin: 0 4px;
  /*font-size: 20px;*/
}

#workspaces button {
  margin: 4px 0;
  padding: 0 4px;
  color: @base05;
}

#workspaces button.visible {
}

#workspaces button.active {
  border-radius: 4px;
  background-color: @base0B;
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#tray {
  margin: 4px 4px 4px 4px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid @base0E;
}

#tray:hover {
  border: 1px solid @base0B;
}

#tray * {
  padding: 0 6px;
  border: none;
  /*border-left: 1px solid @base0E;*/
}

#mode, #battery, #cpu, #memory, #network, #idle_inhibitor, #backlight, #custom-storage, #custom-updates, #custom-weather, #custom-mail, #clock, #temperature, #language, #wireplumber, #bluetooth {
  padding: 0 0;
  background-color: transparent;
  border-radius: 4px;
  min-width: 20px;
}

#wireplumber.muted {
  color: @base0F;
}

#wireplumber.bluetooth {
  color: @base0C;
}

#bluetooth {
  color: @base07;
}

#clock {
  font-weight: bold;
  font-size: 20px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: transparent;
}

#temperature.critical {
  color: @base0F;
}

#language {
}

#custom-power {
  margin-left: 4px;
}

#custom-date {
  font-size: 20px;
  font-weight: bold;
	letter-spacing: -1px;
}

#custom-iconl, #custom-iconr {
  font-size: 30px;
  color: @base07;
  /*color: @base0E;*/
}

#mode:hover, #battery:hover, #cpu:hover, #memory:hover, #network:hover, 
#idle_inhibitor:hover, #backlight:hover, #clock:hover, #temperature:hover, 
#language:hover, #wireplumber:hover, #bluetooth:hover, #workspaces button:hover,
#custom-date:hover, #custom-power:hover {
  /*background: @base02;
  font-size: 30px;
  border: 1px solid rgba(100, 114, 125, 0.5);*/
  border: none;
  text-shadow:
        0 0 5px #0ff,  /* Glow effect */
        0 0 10px #0ff,
        0 0 20px #0ff,
        0 0 40px #0ff,
        0 0 80px #0ff;
}
